<section>
    <form class="form" [formGroup]="formGroup">
        <div class="control-form">
            <label>Fecha Inicial:</label>
            <input formControlName="booking_date_start" type="date" name="initialDateTxt" min="{{initialDate}}" />
        </div>
        <span class="error">{{showErrorMessage('booking_date_start')}}</span>

        <div class="control-form">
            <label>Fecha Final:</label>
            <input formControlName="booking_date_end" type="date" name="endDateTxt" />
        </div>
        <span class="error">{{showErrorMessage('booking_date_end')}}</span>

        <div class="control-form">
            <label>Comentarios:</label>
            <input formControlName="comments" type="text" name="commentsTxt" maxlength="100" />
        </div>        
        <span class="error">{{showErrorMessage('comments')}}</span>
        <br />
        <button (click)="saveBooking()" [disabled]="formGroup.invalid">Reservar</button> 
    </form>
</section>